div {
    align-items: center ;
    align-content:space-around;
    padding: 30px;
    
}

p {
    font-size: 30px;
    font-weight: 900;
    color: rgb(228, 66, 128);
}

.centro {
    display: flex;
    background-color: rgb(251, 200, 251);
    box-sizing: border-box;
    height: 50vh;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    
    
    
}